.home {
    height: 100vh;

    display: flex;
}

.home__create {
    width: 40%;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.home__create-input {
    width: 60%;
    height: 35px;
    
    border: 1px solid gray;
    border-radius: 10px;
    outline: none;

    margin-top: 30px;
}